{{#if @model}}
  <form class="goal-updater" onsubmit={{action this.submit}}>

    {{#if @options.startDate}}
      {{moment-format @options.startDate 'MMMM Do YYYY'}}
    {{else}}
      {{#if (and this.today (not this.showDate))}}
        <div role="button" {{action this.showDateInput}}>Today,</div>
      {{else}}
        {{input type="date" value=this.date}}
      {{/if}}
    {{/if}}


    {{#if (contains
      @model.type
      (array "amount-integer" "amount-float")
    )}}
      <label>
        I accomplished this much
        <input
          type="number"
          name="amount"
          min="0"
          placeholder="0"
          value={{@options.startValue}}
          step={{if (eq @model.type "amount-float") "any" "1"}}
        >
      </label>
    {{else if (eq @model.type "boolean")}}
      <label>
        I accomplished my goal
        <input type="checkbox" name="complete">
      </label>
    {{/if}}
    <footer>
      <button
        title="Close data tracking"
        {{action @cancel}}
      >
        {{svg-jar "cancel" class="icon"}}
      </button>
      <button
        title="Save"
        class="primary"
        type="submit"
      >
        {{svg-jar "save" class="icon"}}
      </button>
    </footer>
  </form>
{{/if}}