{{#if (gt this.years.length 1)}}
  <select onchange={{action this.updateYear}}>
    {{#each this.years as |year|}}
      <option value={{year}}>
        {{year}}
      </option>
    {{/each}}
  </select>
{{/if}}

<button
  title="Rotate"
  class="inline"
  {{action this.toggleOrientation}}
>
  {{svg-jar "rotate" class="icon"}}
</button>

<div
  class="goal-calendar"
  {{did-insert this.draw}}
  {{did-update this.updateData @data}}
  {{did-update this.updateColors @colorScheme}}
/>