{{#if @model}}
  <form class="goal-updater" onsubmit={{action this.submit}}>

    {{#if (and @options.startDate (not @options.allowSelection))}}
      <p>
        {{moment-format @options.startDate "MMMM Do YYYY"}}
      </p>
    {{else}}
      {{#if (and this.today (not this.showDate))}}
        <p role="button" {{action this.showDateInput}}>Today,</p>
      {{else}}
        {{input type="date" value=this.date}}
      {{/if}}
    {{/if}}

    {{#if (contains
      @model.type
      (array 1 2)
    )}}
      <label>
        I accomplished this much
        <input
          {{did-insert this.focusInput}}
          type="number"
          name="amount"
          min="0"
          placeholder="0"
          value={{@options.startValue}}
          step={{if (eq @model.type 1) "any" "1"}}
        >
      </label>
    {{else if (eq @model.type 0)}}
      <label>
        I accomplished my goal
        <input type="checkbox" name="complete" checked={{@options.startValue}}>
      </label>
    {{/if}}
    {{!-- Save comes first for enter press, css row-reverse to put it on the right --}}
    <footer>
      <button
        title="Save"
        class="primary"
        type="submit"
      >
        {{svg-jar "save" class="icon"}}
      </button>
      <button
        title="Close data tracking"
        {{action @cancel}}
      >
        {{svg-jar "cancel" class="icon"}}
      </button>
    </footer>
  </form>
{{/if}}