{{#if this.modal.isOpen}}
  <div class="backdrop"></div>
  <div class="modal">
    <h3>{{this.modal.request.title}}</h3>

    {{#if this.modal.request.message}}
      <p>{{this.modal.request.message}}</p>
    {{/if}}

    {{#if this.modal.request.component}}
      {{component
        this.modal.request.component
        submit=(action this.modal.ok)
        cancel=(action this.modal.cancel)
        model=this.modal.request.model
        options=this.modal.request.options
      }}
    {{else}}
      <footer>
        {{#if this.modal.request.cancelAction}}
          <button {{action this.modal.cancel}}>Cancel</button>
        {{/if}}
        <button {{action this.modal.ok}}>{{or this.modal.request.successText "OK"}}</button>
      </footer>
    {{/if}}
  </div>
{{/if}}