<h3>
  {{#if this.editName}}
    {{input value=this.model.name type="text"}}
    <button
      title="edit"
      class="inline primary"
      {{action this.save}}
    >
      {{svg-jar "save" class="icon"}}
    </button>
  {{else}}
    {{this.model.name}}
    {{#if (not-eq this.model.id "demo")}}
      <button
        title="edit"
        class="inline"
        {{action (toggle "editName" this)}}
      >
        {{svg-jar "edit" class="icon"}}
      </button>
      <button
        title="delete"
        class="inline warning"
        {{action this.delete}}
      >
        {{svg-jar "delete" class="icon"}}
      </button>
    {{/if}}
  {{/if}}
</h3>

<div>{{this.model.records.length}} days recorded | {{this.model.streak}} day streak</div>

<GoalUpdater
  @goal={{this.model}}
  @submit={{action this.goals.saveRecord this.model}}
/>
<GoalCalendar
  @data={{this.dataHash}}
  @type={{this.model.type}}
  @colorScheme={{this.settings.visualizationColorScheme}}
/>