<h3>
  {{#if this.editName}}
    {{input
      type="text"
      value=this.model.name
      enter=(action this.save)
    }}
    <button
      title="edit"
      class="primary"
      {{action this.save}}
    >
      {{svg-jar "save" class="icon"}}
    </button>
  {{else}}
    {{this.model.name}}
    {{#if (not-eq this.model.id "demo")}}
      <button
        title="edit"
        {{action (toggle "editName" this)}}
      >
        {{svg-jar "edit" class="icon"}}
      </button>
      <button
        title="delete"
        class="warning"
        {{action this.delete}}
      >
        {{svg-jar "delete" class="icon"}}
      </button>
    {{/if}}
  {{/if}}
</h3>

<div>{{this.model.records.length}} days recorded &middot; {{this.model.streak}} day streak</div>

<GoalUpdater
  @goal={{this.model}}
  @submit={{action this.goals.saveRecord this.model}}
/>
<GoalCalendar
  @data={{this.dataHash}}
  @type={{this.model.type}}
  @colorScheme={{this.settings.visualizationColorScheme}}
/>