<section>
  <h4>Import Backup Data</h4>
  {{#if this.importUnderstood}}
    <FileUpload
      accept=".json,.csv"
      title="Import data"
      @change={{this.importData}}
    />
  {{else}}
    <button {{action (toggle 'importUnderstood' this)}}>
      This will delete all data
    </button>
  {{/if}}
</section>

<section>
  <h4>
    Export Data
  </h4>
  <button
    title="Download Backup"
    class="primary"
    {{action this.exportData "json"}}
  >
    {{svg-jar "download" class="icon"}} Backup
  </button>
  <button
    title="Download CSV (Excel)"
    class="primary"
    {{action this.exportData "csv"}}
  >
    {{svg-jar "download" class="icon"}} CSV
  </button>
</section>

<section>
  <h4>
    Delete Data
  </h4>
  <button
    title="Delete all data"
    class="warning"
    {{action this.resetData}}
  >
    {{svg-jar "delete" class="icon"}}
  </button>
</section>