<h3>Configure</h3>
<label>
  App Color Scheme
  <select
    onchange={{action this.updateAppColorScheme}}
    value={{this.settings.model.appColorScheme}}
  >
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
  {{this.settings.model.appColorScheme}}
</label>

<section>
  <h4>Visualization Color Scheme</h4>
  {{#each-in this.settings.visualizationColorSchemes as |value title|}}
    <label>
      <input
        type="radio"
        name="visualization-color-scheme"
        value={{value}}
        onclick={{action this.updateVisualizationColorScheme}}
        checked={{eq this.settings.model.visualizationColorScheme value}}
      >
      <VisualizationSchemePreview @scheme={{value}} />
      {{title}}
    </label>
  {{/each-in}}
</section>

<hr>

<h3>Import Data</h3>
<p class="warning">This will erase any local data</p>
<button>I Understand</button>
<FileUpload
  @change={{this.importData}}
  accept=".json"
/>

<hr>

<h3>Export Data</h3>
<button {{action this.exportData}}>Download</button>

<hr>

<h3>Reset Data</h3>
<button class="warning" {{action this.resetData}}>Delete</button>