<h3>Configure</h3>

<section>
  <h4>App Color Scheme</h4>
  <label>
    <select
      onchange={{action (mut this.settings.appColorScheme) value="target.value"}}
      value={{this.settings.appColorScheme}}
    >
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    {{this.settings.appColorScheme}}
  </label>
</section>

<section>
  <h4>Visualization Color Scheme</h4>
  <div class="flex-row">
    {{#each-in this.settings.visualizationColorSchemes as |value title|}}
      <label class="flex-column">
        <div>{{title}}</div>
        <div class="flex-row">
          <input
            type="radio"
            name="visualization-color-scheme"
            value={{value}}
            onclick={{action (mut this.settings.visualizationColorScheme) value="target.value"}}
            checked={{eq this.settings.visualizationColorScheme value}}
          >
          <VisualizationSchemePreview @scheme={{value}} />
        </div>
      </label>
    {{/each-in}}
  </div>
</section>